body {
  background-color: antiquewhite;
}

main {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gear-wheel-container {
  width: 75%;
}

.svg-container {
  width: 75%;
}

#big-wheel-one {
  transform-origin: 29.9px 29.9px;
}
#big-wheel-two {
  transform-origin: 29.95px 29.95px;
}
#big-wheel-three {
  transform-origin: 29.9px 29.9px;
}

#small-wheel-one,
#small-wheel-two {
  transform-origin: 10px 10px;
}
