body {
  background-color: antiquewhite;
}

main {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gear-wheel-container {
  width: 75%;
}

.svg-container {
  border: 2px solid black;
  width: 50%;
  background-color: white;
}
